<!doctype html>
<html>
<head>
    <title>notas</title>
</head>
<body>

<h2>oraculo de las notas</h2>

<form method="post">

    pregunta 1: cuanto vale el proyecto de la materia?<br>
    <input type="text" name="respuesta1"><br><br>

    pregunta 2: que se recomienda hacer para el proyecto si tengo dudas?<br>
    <input type="text" name="respuesta2"><br><br>

    aceptar el compromiso<br>
    <input type="checkbox" name="check"><br><br>

    <button type="submit">enviar</button>

</form>

<p>{{ mensaje }}</p>

<a href="/">volver</a>

</body>
</html>