<!doctype html>
<html>
<head>
    <title>reglas</title>
</head>
<body>

<h2>camara de las reglas</h2>

<form method="post">

    pregunta 1: ¿cual es el minimo de asistencia?<br>
    <input type="text" name="respuesta1"><br><br>

    pregunta 2: escribe una norma de convivencia<br>
    <input type="text" name="respuesta2"><br><br>

    <input type="checkbox" name="check"> aceptar<br><br>

    <button type="submit">enviar</button>

</form>

<p>{{ mensaje }}</p>

<a href="/">volver</a>

</body>
</html>