<!doctype html>
<html>
<head>
    <title>skills</title>
</head>
<body>

<h2>skills a desbloquear</h2>

<form method="post">

    pregunta 1: que framework usaremos?<br>
    <input type="text" name="respuesta1"><br><br>

    pregunta 2: que lenguaje usaremos?<br>
    <input type="text" name="respuesta2"><br><br>

    aceptar el compromiso<br>
    <input type="checkbox" name="check"><br><br>

    <button type="submit">enviar</button>

</form>

<p>{{ mensaje }}</p>

<a href="/">volver</a>

</body>
</html>