<!doctype html>
<html>
<head>
    <title>linea del tiempo</title>
</head>
<body>

<h2>linea del tiempo</h2>

<form method="post">

    pregunta 1: cuando es el primer parcial?<br>
    <input type="text" name="respuesta1"><br><br>

    pregunta 2: cuando es el final?<br>
    <input type="text" name="respuesta2"><br><br>

    aceptar el compromiso<br>
    <input type="checkbox" name="check"><br><br>

    <button type="submit">enviar</button>

</form>

<p>{{ mensaje }}</p>

<a href="/">volver</a>

</body>
</html>